<div class="nested-fields">
  <div class="box mb-3">
    <span class="box-title">種目</span>
    <div class="form-row mb-2">
      <div class="col-md-3">
        <%= f.label :menu, class: "col-form-label" do %>
          種目名 <span class="badge bg-danger">必須</span>
        <% end %>
        <%= f.select :menu, Workout::SELECT_OPTIONS, { include_blank: "選択して下さい" }, { class: "form-control form-control-8 form-control-xs-12 ", id: "workout-menu", required: true } %>
        <div class="invalid-feedback">
          選択してください
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group mb-1">
          <%= f.label :start_time, class: "col-form-label" do %>
            1st set <span class="badge bg-danger">必須</span>
          <% end %>
          <div class="col-sm-11">
            <div class="input-group">
              <%= f.number_field :first_set_weight, step: "0.1", autocomplete: "weight", placeholder: "重量(kg)", class: "form-control form-control-sm", id: "workout-first_set-weight", required: true %>
              <span class="input-group-addon ms-2 inline"> × </span>
              <%= f.number_field :first_set_rep, autocomplete: "rep", placeholder: "回数(rep)", class: "form-control form-control-sm ms-2", id: "workout-first_set-rep", required: true %>
              <div class="invalid-feedback">
                入力してください
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group mb-1">
          <%= f.label :start_time, class: "col-form-label" do %>
            2nd set <span class="badge bg-secondary">任意</span>
          <% end %>
          <div class="col-sm-11">
            <div class="input-group">
              <%= f.number_field :second_set_weight, step: "0.1", autocomplete: "weight", placeholder: "重量(kg)", class: "form-control form-control-sm" %>
              <span class="input-group-addon ms-2 inline"> × </span>
              <%= f.number_field :second_set_rep, autocomplete: "rep", placeholder: "回数(rep)", class: "form-control form-control-sm ms-2" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group mb-1">
          <%= f.label :start_time, class: "col-form-label" do %>
            3rd set <span class="badge bg-secondary">任意</span>
          <% end %>
          <div class="col-sm-11">
            <div class="input-group">
              <%= f.number_field :third_set_weight, step: "0.1", autocomplete: "weight", placeholder: "重量(kg)", class: "form-control form-control-sm" %>
              <span class="input-group-addon ms-2 inline"> × </span>
              <%= f.number_field :third_set_rep, autocomplete: "rep", placeholder: "回数(rep)", class: "form-control form-control-sm ms-2" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group mb-1">
          <%= f.label :start_time, class: "col-form-label" do %>
            4th set <span class="badge bg-secondary">任意</span>
          <% end %>
          <div class="col-sm-11">
            <div class="input-group">
              <%= f.number_field :fourth_set_weight, step: "0.1", autocomplete: "weight", placeholder: "重量(kg)", class: "form-control form-control-sm" %>
              <span class="input-group-addon ms-2 inline"> × </span>
              <%= f.number_field :fourth_set_rep, autocomplete: "rep", placeholder: "回数(rep)", class: "form-control form-control-sm ms-2" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-sm-5">
        <div class="form-group mb-1">
          <%= f.label :start_time, class: "col-form-label" do %>
            5th set <span class="badge bg-secondary">任意</span>
          <% end %>
          <div class="col-sm-11">
            <div class="input-group">
              <%= f.number_field :fifth_set_weight, step: "0.1", autocomplete: "weight", placeholder: "重量(kg)", class: "form-control form-control-sm" %>
              <span class="input-group-addon ms-2 inline"> × </span>
              <%= f.number_field :fifth_set_rep, autocomplete: "rep", placeholder: "回数(rep)", class: "form-control form-control-sm ms-2" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block bg-danger" %>
  </div>
</div>
