<div class="container-fluid p-lg-5 bg-light mb-5">
  <div class="col-sm">
    <h2 class="mb-5">トレーニング一覧</h2>
  </div>
  <% if flash[:success] %>
    <p class="success alert alert-success" role="alert"><%= flash[:success] %></p>
  <% elsif flash[:failure] %>
    <p class="failure alert alert-danger" role="alert"><%= flash[:failure] %></p>
  <% end %>
  <div class="row feature-wrapper">
    <div class="col-sm-3 feature">
      <div class="form-group pt-5">
        <%= form_with model: @workout, method: :get, local: :true do |f| %>
          <div class="form-row mb-2">
            <div class="col-md-9">
              <%= f.select :search, ["胸", "腕", "肩", "背中", "脚", "四頭", "ハム、尻部", "腹筋"], {include_blank: "部位を選択"}, { class: "form-control mb-3 mt-3", id: "search", required: true } %>
              <%= f.submit '部位で絞り込む', name: "commit", class: "btn btn-primary btn-block mb-1 mt-3 bg-danger" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group mb-1">
        <div class="box1 z-indeximage">
          <span class="box-title">MAX重量早見表(画像をクリック)</span>
          <div class="course-item">
            <%= image_tag "picture.jpg", height: '150', :style=>"width:200;", class: "course-item-img" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pb-3">
    <table class="table text-nowrap table-bordered table-hover mt-3">
      <thead>
        <tr>
          <th class="text-center" scope="col">日付</th>
          <th class="text-center" scope="col">部位</th>
          <th class="text-center" scope="col">トレーニング内容</th>
          <th class="text-center" scope="col">1set</th>
          <th class="text-center" scope="col">2set</th>
          <th class="text-center" scope="col">3set</th>
          <th class="text-center" scope="col">4set</th>
          <th class="text-center" scope="col">5set</th>
          <th class="text-center condition" scope="col">睡眠</th>
          <th class="text-center condition" scope="col">食事</th>
          <th class="text-center condition" scope="col">意欲</th>
          <th class="text-center condition" scope="col">疲労度</th>
          <th class="text-center condition" scope="col">筋肉の状態</th>
      </thead>
      <tbody>
        <% if @workouts.count > 0 %>
          <% @workouts.each do |workout| %>
            <tr class="align-middle lh-2">
              <td>
                <div class="text-center start_time">
                  <%= workout.start_time.strftime("%m月%-d日") %> 
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= workout.part %>
                </div>
              </td>
              <td class="text-left">
                <% workout.workout_menus.each do |workout_menu| %>
                  <%= workout_menu.menu %>
                  <br>
                <% end %>
              </td>
              <td>
                <% workout.workout_menus.each do |workout_menu| %>
                  <div class="text-center">
                    <%= workout_menu.first_set_weight %> × <%= workout_menu.first_set_rep %> 
                    <br>
                  </div>
                <% end %>
              </td>
              <td>
                <% workout.workout_menus.each do |workout_menu| %>
                  <% if workout_menu.second_set_weight? %>
                    <div class="text-center">
                      <%= workout_menu.second_set_weight %> × <%= workout_menu.second_set_rep %> 
                      <br>
                    </div>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% workout.workout_menus.each do |workout_menu| %>
                  <% if workout_menu.third_set_weight? %>
                    <div class="text-center">
                      <%= workout_menu.third_set_weight %> × <%= workout_menu.third_set_rep %> 
                      <br>
                    </div>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% workout.workout_menus.each do |workout_menu| %>
                  <% if workout_menu.fourth_set_weight? %>
                    <div class="text-center">
                      <%= workout_menu.fourth_set_weight %> × <%= workout_menu.fourth_set_rep %> 
                      <br>
                    </div>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% workout.workout_menus.each do |workout_menu| %>
                  <% if workout_menu.fifth_set_weight? %>
                    <div class="text-center">
                      <%= workout_menu.fifth_set_weight %> × <%= workout_menu.fifth_set_rep %>
                      <br>
                    </div>
                  <% end %>
                <% end %>
              </td>
              <td class="condition">
                <div class="text-center">
                  <%= workout.sleep %> 
                </div>           
              </td>
              <td class="condition">
                <div class="text-center">
                  <%= workout.eat %> 
                </div>
              </td>
              <td class="condition">
                <div class="text-center">
                  <%= workout.motivation %> 
                </div>
              </td>
              <td class="condition">
                <div class="text-center">
                  <%= workout.fatigue %> 
                </div> 
              </td>
              <td class="condition">
                <div class="text-center">
                  <%= workout.muscle %> 
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= link_to "確認", workout_path(workout), class: 'btn btn-danger btn-sm' %>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= link_to "編集", edit_workout_path(workout),data: {"turbo"=>false}, class: 'btn btn-danger btn-sm' %>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= link_to "削除", workout_path(workout), class: 'btn btn-danger btn-sm', data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>
                </div>
              </td>
            </tr>
          <% end %>
        <% else %>
          <td>トレーニング履歴はありません</td>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="workout-index">
    <div class="index">
      <% if @workouts.count > 0 %>
        <% @workouts.each do |workout| %>
          <div class="workout-mini mb-2">
            <div class="mini mt-1">
              <div class="field form-row">
                <th>日付:</th>
                  <%= workout.start_time.strftime("%F") %>
              </div>
              <div class="mt-1">
                <th>部位:</th>
                <%= workout.part %>
              </div>
              <% workout.workout_menus.each do |workout_menu| %>
                <div class="field mt-1">
                  <th>種目:</th>
                  <%= workout_menu.menu %>
                </div>
                <div class="box20 m-1 ms-2">
                  <div class="row">
                    <div class="col-6 col-md-4 ps-4">
                      <span class="condition-detail">1st set: </span><%= workout_menu.first_set_weight %> kg × <%= workout_menu.first_set_rep %><span class="condition-detail">回</span>
                    </div>
                    <% if workout_menu.second_set_weight? %>
                      <div class="col-6 col-md-4 ps-3">
                        <span class="condition-detail">2nd set: </span><%= workout_menu.second_set_weight %> kg × <%= workout_menu.second_set_rep %><span class="condition-detail">回</span>
                      </div>
                    <% end %>
                    <% if workout_menu.third_set_weight? %>
                      <div class="col-6 col-md-4 ps-4">
                        <span class="condition-detail">3rd set: </span><%= workout_menu.third_set_weight %> kg × <%= workout_menu.third_set_rep %><span class="condition-detail">回</span>
                      </div>
                    <% end %>
                    <% if workout_menu.fourth_set_weight? %>
                      <div class="col-6 col-md-4 ps-3">
                        <span class="condition-detail">4th set: </span><%= workout_menu.fourth_set_weight %> kg × <%= workout_menu.fourth_set_rep %><span class="condition-detail">回</span>
                      </div>
                    <% end %>
                    <% if workout_menu.fifth_set_weight? %>
                      <div class="col-6 col-md-4 ps-4">
                        <span class="condition-detail">5th set: </span><%= workout_menu.fifth_set_weight %> kg × <%= workout_menu.fifth_set_rep %><span class="condition-detail">回</span>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="memo">
                <p class="mt-3">
                  <span>メモ:</span>
                  <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                    メモを開く
                  </button>
                </p>
                <div class="height-auto">
                  <div class="collapse collapse-horizontal" id="collapseWidthExample">
                    <div class="card card-body col-md-6">
                      <%= workout.memo %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2 ms-1">
                <div class="col-2">
                  睡眠:<%= workout.sleep %>
                </div>
                <div class="col-2">
                  食事:<%= workout.eat %>
                </div>
                <div class="col-2">
                  意欲:<%= workout.motivation %>
                </div>
                <div class="col-2">
                  疲労:<%= workout.fatigue %>
                </div>
                <div class="col-3">
                  筋肉<span class="condition-detail">の状態</span>:<%= workout.muscle %>
                </div>
              </div>
                <%= link_to "編集", edit_workout_path(workout), class: 'btn btn-danger btn-sm mb-2' %>
                <%= link_to "削除", workout_path(workout), class: 'btn btn-danger btn-sm ms-2 mb-2', data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %> 
            </div>
          </div>
        <% end %>
      <% else %>
        <td>トレーニング履歴はありません</td>
      <% end %>
    </div>
  </div>
</div>
<div id="grayDisplay"></div>
