<h2>トレーニング新規作成</h2>
<div class="workout new">
  <% if flash[:failure] %>
    <p class="failure"><%= flash[:failure] %></p>
  <% end %>
  <%= render 'layouts/shared/error', obj: @workout %>
  <%= form_with model: @workout do |f| %>
    <div class="field form-row">
      <%= f.label :start_time, "日付：" %>
      <%= f.datetime_field :start_time, include_blank: "選択して下さい", name: "workout[start_time]" %>
    </div>
    <p>-----------------------------------------------------</p>
    <div class="form_count" id="form_list">
      <%= f.fields_for :workout_menus do |t| %>
        <%= render "layouts/shared/workout_menu_fields", f: t %>
      <% end %>
    </div>
    <div id="detail-association-insertion-point"></div>
    <%= link_to_add_association "+フォームを追加", f, :workout_menus, class: "btn btn-secondary btn-block", data: { association_insertion_node: '#detail-association-insertion-point', association_insertion_method: 'after'} %>
    <p>-----------------------------------------------------</p>
    <div class="field form-row">
      <%= f.label :memo, "メモ：" %>
      <%= f.text_area :memo, rows: "3", name: "workout[memo]", id: "workout_memo" %>
    </div>
    <p>-----------------------------------------------------</p>

    <h4>体調チェック ※ 1 : 悪い 〜 5 : 良い</h4>
    <div class="field form-row">
      <%= f.label :sleep, "睡眠：" %>
      <%= f.select :sleep, [*(1..5)], include_blank: "選択して下さい" %>
    </div>
    <div class="field form-row">
      <%= f.label :eat, "食事：" %>
      <%= f.select :eat, [*(1..5)], include_blank: "選択して下さい" %>
    </div>
    <div class="field form-row">
      <%= f.label :motivation, "モチベーション：" %>
      <%= f.select :motivation, [*(1..5)], include_blank: "選択して下さい" %>
    </div>
    <div class="field form-row">
      <%= f.label :fatigue, "疲労：" %>
      <%= f.select :fatigue, [*(1..5)], include_blank: "選択して下さい" %>
    </div>
    <div class="field form-row">
      <%= f.label :mental, "メンタル：" %>
      <%= f.select :mental, [*(1..5)], include_blank: "選択して下さい" %>
    </div>
    <br>
    <%= f.submit '記録する'%>
  <% end %>
</div>
