<div class="field form-row"><label for="workout_menu">トレーニング種目：</label><select name="workout[menu]" id="workout_menu"><option value="">選択して下さい</option><option value="ベンチプレス">ベンチプレス</option><option value="スクワット">スクワット</option><option value="デッドリフト">デッドリフト</option><option value="バーベルカール">バーベルカール</option><option value="フレンチプレス">フレンチプレス</option><option value="ショルダープレス">ショルダープレス</option></select></div><div class="field form-row addition"><label for="workout_weight">重量：</label><input autocomplete="weight" name="workout[weight]" id="workout_weight" type="number"> kg</div><div class="field form-row addition"><label for="workout_rep">回数：</label><input autocomplete="rep" name="workout[rep]" id="workout_rep" type="number"> 回</div><div class="field form-row"><label for="workout_set">セット数：</label><select name="workout[set]" id="workout_set"><option value="">選択して下さい</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select> セット</div>

let html = '<div class="form_count" id="form_list"><div class="field form-row"><%= f.label :menu, "トレーニング種目：" %><%= f.select :menu, [["ベンチプレス", "ベンチプレス"], ["スクワット", "スクワット"], ["デッドリフト", "デッドリフト"], ["バーベルカール", "バーベルカール"], ["フレンチプレス", "フレンチプレス"], ["ショルダープレス", "ショルダープレス"]], include_blank: "選択して下さい" %></div><div class="field form-row addition"><%= f.label :weight, "重量：" %><%= f.number_field :weight, autocomplete: "weight", name: "workout[weight]", id: "workout_weight" %> kg</div><div class="field form-row addition"><%= f.label :rep, "回数：" %><%= f.number_field :rep, autocomplete: "rep", name: "workout[rep]", id: "workout_rep" %> 回</div><div class="field form-row"><%= f.label :set, "セット数：" %><%= f.select :set, [*(1..10)],include_blank: "選択して下さい" %> セット</div></div>'
  
<select name="workout[menu][0]" id="workout_menu">
  <option value="">選択して下さい</option>
  <% [["ベンチプレス", "ベンチプレス"], ["スクワット", "スクワット"], ["デッドリフト", "デッドリフト"], ["バーベルカール", "バーベルカール"], ["フレンチプレス", "フレンチプレス"], ["ショルダープレス", "ショルダープレス"]].each do |v| %>
    <option value="<%= v[0] %>"><%= v[0] %></option>
  <% end %>
</select>

<%= f.select :set, [*(1..10)], name: "workout[set][0]",include_blank: "選択して下さい", class: "text" %> セット

<select name="workout[set][]" id="workout_menu">
          <option value="">選択して下さい</option>
          <% [*(1..10)].each do |v| %>
            <option value="<%= v[0] %>"><%= v[0] %></option>
          <% end %>
        </select>
<%= f.label :set, "セット数：" %>
        <%= f.select :set, [*(1..10)],include_blank: "選択して下さい", class: "text" %> セット

        before_action :set_login_user

  def set_login_user
    @user = User.find(session[:user_id]) if session[:user_id]
  end

  function addForm(){
  console.log("test");
  let html = '<div class="field form-row"><label for="workout_menu">種目：</label><select name="workout[workout_menus][][menu]" id="workout_menu"><option value="">選択して下さい</option><option value="ベンチプレス">ベンチプレス</option><option value="スクワット">スクワット</option><option value="デッドリフト">デッドリフト</option><option value="バーベルカール">バーベルカール</option><option value="フレンチプレス">フレンチプレス</option><option value="ショルダープレス">ショルダープレス</option></select></div><div class="field form-row addition"><label for="workout_weight">重量：</label><input autocomplete="weight" name="workout[workout_menus][][weight]" id="workout_weight" type="number"> kg</div><div class="field form-row addition"><label for="workout_rep">回数：</label><input autocomplete="rep" name="workout[workout_menus][][rep]" id="workout_rep" type="number"> 回</div><div class="field form-row"><label for="workout_rep">セット数：</label><input autocomplete="set" name="workout[workout_menus][][set]" type="number" id="workout_rep"> セット</div>'
  
  let form_list = document.getElementById("form_list")
  form_list.insertAdjacentHTML('beforeend', html);
}

document.getElementById("add_form_btn").addEventListener("click", addForm, false);

<div class="field form-row">
        種目：<select name="workout[workout_menus][][menu]" id="workout_menu">
          <option value="">選択して下さい</option>
          <% [["ベンチプレス"], ["スクワット"], ["デッドリフト"], ["バーベルカール"], ["フレンチプレス"], ["ショルダープレス"]].each do |v| %>
            <option value="<%= v[0] %>"><%= v[0] %></option>
          <% end %>
        </select>
      </div>
      <div class="field form-row addition">
        <%= f.label :weight, "重量：" %>
        <%= f.number_field :weight, autocomplete: "weight", name: "workout[workout_menus][][weight]" %> kg
      </div>
      <div class="field form-row addition">
        <%= f.label :rep, "回数：" %>
        <%= f.number_field :rep, autocomplete: "rep", name: "workout[workout_menus][][rep]" %> 回
      </div>
      <div class="field form-row">
        <%= f.label :rep, "セット数：" %>
        <%= f.number_field :rep, autocomplete: "set", name: "workout[workout_menus][][set]" %> セット
      </div>