@search_params = diet_search_params
    @diets = Diet.search(@search_params)

    <%= form_with(scope: :search, model: @diet, method: :get, local: :true) do |f| %>
      <div class="form-group mb-4" id="datepicker-daterange">
        <%= f.label :record_time, class: "col-form-label" do %>
          日付 <span class="badge bg-secondary">任意</span>
        <% end %>
        <div class="col-sm-9 form-inline  col-md-4">
          <div class="input-daterange input-group">
            <%= f.datetime_field :from_record_time, class: "form-control", value: @search_params[:from_record_time] %>
            <span class="input-group-addon ms-2 inline"> 〜 </span>
            <%= f.datetime_field :to_record_time, class: "form-control ms-2", value: @search_params[:to_record_time] %>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <%= f.submit "体重推移を見る", name: "commit", class: "btn btn-primary btn-block bg-danger" %>
      </div>
    <% end %>