<div class="field form-row">
  種目：<select name="workout[workout_menus][][menu]" id="workout_menu">
    <option value="">選択して下さい</option>
    <% [["ベンチプレス"], ["スクワット"], ["デッドリフト"], ["バーベルカール"], ["フレンチプレス"], ["ショルダープレス"]].each do |v| %>
      <option value="<%= v[0] %>"><%= v[0] %></option>
    <% end %>
  </select>
</div>
<div class="field form-row addition">
  <%= f.label :weight, "重量：" %>
  <%= f.number_field :weight, autocomplete: "weight", name: "workout[workout_menus][][weight]" %> kg
</div>
<div class="field form-row addition">
  <%= f.label :rep, "回数：" %>
  <%= f.number_field :rep, autocomplete: "rep", name: "workout[workout_menus][][rep]" %> 回
</div>
<div class="field form-row">
  <%= f.label :rep, "セット数：" %>
  <%= f.number_field :rep, autocomplete: "set", name: "workout[workout_menus][][set]" %> セット
</div>
<%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
