<div class="container-fluid p-lg-5 bg-light  mb-5">
  <div class="container">
    <div class="col-sm">
      <h2 class="my-4">体重推移</h2>
    </div>
    <%= form_with(scope: :search, model: @diet, method: :get, local: :true) do |f| %>
      <div class="form-group mb-4" id="datepicker-daterange">
        <%= f.label :record_time, class: "col-form-label" do %>
          日付 <span class="badge bg-secondary">任意</span>
        <% end %>
        <div class="col-sm-9 form-inline  col-md-4">
          <div class="input-daterange input-group">
            <%= f.datetime_field :from_record_time, class: "form-control", value: @search_params[:from_record_time] %>
            <span class="input-group-addon ms-2 inline"> 〜 </span>
            <%= f.datetime_field :to_record_time, class: "form-control ms-2", value: @search_params[:to_record_time] %>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <%= f.submit "体重推移を見る", name: "commit", class: "btn btn-primary btn-block bg-danger" %>
      </div>
    <% end %>
    <div style="diet-chart">
      <div class="wrap-chart">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: <%= @chartlabels %>,
          datasets: [{
            label: "体重推移",
            data:  <%= @body_weightdata %>,
            backgroundColor: 'rgba(255, 80, 120, 0.2)',
            borderColor: 'rgba(255, 80, 120, 1.0)',
            type: 'line',
            yAxisID: "y-axis-2",
            fill: false
          }, {
            label: "タンパク質",
            borderWidth: 1,
            backgroundColor: "#2e70a7",
            borderColor: "#2e70a7",
            yAxisID: "y-axis-1", 
            data: <%= @proteindata %>
          }, {
            label: "脂質",
            borderWidth: 1,
            backgroundColor: "#4eadc7",
            borderColor: "#4eadc7",
            yAxisID: "y-axis-1", 
            data: <%= @fatdata %>
          }, {
            label: "炭水化物",
            borderWidth: 1,
            backgroundColor: "#a7d8bf",
            borderColor: "#a7d8bf",
            yAxisID: "y-axis-1", 
            data: <%= @carbohydratedata %>
          }]
        },
        options: {
          title: {
            display: true,
            text: '体重推移',
            padding:3
          },
          scales: {
            xAxes: [{
              stacked: true,
              categoryPercentage:0.4,
              scaleLabel: {
                display: true,
                labelString: "日付",
              }
            }],
            yAxes: [{
              id: "y-axis-2",
              type: "linear", 
              position: "left",
              scaleLabel: {
                display: true,
                labelString: "体重(kg)",
              }
            }, {
              id: "y-axis-1",
              type: "linear", 
              position: "right",
              scaleLabel: {
                display: true,
                labelString: "カロリー(kcal)",
              },
              stacked: true
            }]
          },
          legend: {
            labels: {
              boxWidth: 30,
              padding: 20
            },
            display: true
          },
          tooltips:{
            mode:'label'
          },
          maintainAspectRatio: false,
        }
      });
    </script>

    <table class="diet-table text-nowrap table-bordered table-hover mt-3 col-12">
      <thead>
        <tr>
          <th class="text-center" scope="col">日付</th>
          <th class="text-center" scope="col">体重(kg)</th>
          <th class="text-center" scope="col">総カロリー(kcal)</th>
          <th class="text-center" scope="col">タンパク質(g)</th>
          <th class="text-center" scope="col">脂質(g)</th>
          <th class="text-center" scope="col">炭水化物(g)</th>
      </thead>
      <tbody>
        <% if @diets.count > 0 %>
          <% @diets.each do |diet| %>
            <tr class="align-middle lh-2">
              <td>
                <div class="text-center">
                  <%= diet.record_time.strftime("%m月%-d日") %> 
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= diet.body_weight %>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= @total_calorie %>kcal
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= diet.protein %>(<%= @protein_index_data %>kcal)
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= diet.fat %>(<%= @fat_index_data %>kcal)
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= diet.carbohydrate %>(<%= @carbohydrate_index_data %>kcal)
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= link_to "確認", diet_path(diet), class: 'btn btn-danger btn-sm' %>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= link_to "編集", edit_diet_path(diet), class: 'btn btn-danger btn-sm' %>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <%= link_to "削除", diet_path(diet), class: 'btn btn-danger btn-sm', data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>
                </div>
              </td>
            </tr>
          <% end %>
        <% else %>
          <td>入力履歴はありません</td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
