<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light header">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Be Stronger 〜筋トレ記録アプリ〜</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
          <% if current_user? %>
            <div class="nav-item d-sm-inline-block"><%= @user.name %></div> 
            <% if @user.image? %> 
              <%= image_tag @user.image.url, id: "icon-img" %> 
            <% end %>
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item"><%= link_to("トレーニング一覧", "/workouts", class: "nav-link")%></li>
              <li class="nav-item"><%= link_to("トレーニング新規作成", "/workouts/new", data: {"turbo"=>false}, class: "nav-link") %></li>
              <li class="nav-item"><%= link_to("記録推移", "/workouts/graph", class: "nav-link") %></li>
              <li class="nav-item"><%= link_to("体重推移", "/workouts/body_weight_graph", class: "nav-link") %></li>
              <li class="nav-item"><%= link_to "アカウント編集", edit_user_path(:user_id), data: {"turbo"=>false}, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to("ログアウト", "/users/logout", class: "nav-link") %></li>
            </ul>
          <% else %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item white"><%= link_to("ログイン", "/users/sign_in", class: "nav-link") %></li>
              <li class="nav-item white"><%= link_to("登録する", "/users/new", class: "nav-link") %></li>
            </ul>
          <% end %>
          </div>
        </div>
      </nav>
    </header>
    <footer>
    </footer>
    <%= yield %>
  <footer>
    <div class="py-3 bg-light footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="mb-0">2022 be_stronger All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  </body>
</html>
